<html>

  <head>

    <title>S-ENDA Catalog status</title>

  </head>

  <body>

    <h1>Catalog integrity</h1>
<table>
    <tr>
      <th>Distributor</th>
      <th>Count</th>
    </tr>
<tr>
<td>Archive files: </td>
<td> {{ archive_files }}</td>
</tr>
<tr>
<td>CSW Records: </td>
<td>{{ csw_records }}</td>
</tr>
<tr>
<td>Solr Documents: </td>
{% if solr_current is sameas true %}
  <td>{{ solr_docs }}</td>
{% else %}
<td><s>{{ solr_docs }}</s></td>
{% endif %}
</td>
</tr>
</table>
<span><em>SolR updates (commits) every 10 minutes. When a line is shown in the solr documents count, it
  means it is not the current commit.
</em></span>
<br>
<h1>Parent/Child relation integrity</h1>
<table>
  <tr>
    <th>Distributor</th>
    <th>Parents count</th>
    <th>Description</th>
  </tr>
<tr>
<td>Parent UUID list: </td>
<td> {{ parent_uuid_list }}</td>
<td>Number of IDs in <a href="https://gitlab.met.no/tjenester/s-enda/-/blob/dev/base/dmci/config-dmci/parent-uuid-list.xml?ref_type=heads">list of MMD parent datasets</a></td>
</tr>
<tr>
<td>CSW marked parents: </td>
<td>{{ csw_parent_count }}</td>
<td>Number of MMD parents registered in CSW (as ISO19115 dataset series)</td>
</tr>
<tr>
  <td>CSW distinct parentidentifiers: </td>
  <td>{{ csw_distinct_parent_ids }}</td>
  <td>Number of distinct datasets referenced as related dataset of type 'parent' in CSW</td>
  </tr>
<tr>
<td>Solr marked parents: </td>
<td>{{ solr_parent_count }}</td>
<td>Number of MMD parents registered in Solr</td>
</tr>
<tr>
  <td>Solr unique parent ids: </td>
  <td>{{ solr_parent_unique }}</td>
  <td>Number of distinct datasets referenced as related dataset of type 'parent' in Solr</td>
  </tr>

</table>




<h1>DMCI</h1>
<table>
<tr>
  <td>Rejected files: </td>
  <td>{{ rejected_files }}</td>
  </td>
  </tr>
  <tr>
  <td>Distributor cache (workdir): </td>
  <td>{{ workdir_files }}</td>
  </td>
  </tr>
</table>


  </body>

</html>

